{% extends 'base_templates.html'%} {% block content %}


<div class="sign-container">

    <form class='signup-form' action="/signup/" method="POST">

        {%csrf_token %} 
        <label>Name:</label>
        <input type='text' name='name' >
        {{form}}
        <input type="hidden" id='notifyID' name="notifyID" value="">
        <div class ='signup-buttons-container'>
        <button class="signup-buttons" type="submit" value="Sign in"><label>Sign in</label> </button>
        <a href="{% url 'login'%}">
            <label>Login</label>
        </a>
      
        </div>
    </form>


</div> {% endblock %}